<h2>Server Backends</h2>

<p><%= subsystem[:description ]%></p>

<table id="backend-list" class="horizontal">
	<thead>
	<tr>
		<th></th>
		<th class="even">Runtime Config?</th>
		<th class="odd">Supported Controls</th>
		<th class="even">See Also</th>
	</tr>
	</thead>
	<tbody>
	<% backends.each_with_index do |backend, i| %>
	<% rowclass = i.divmod(2).last.zero? ? "even" : "odd" %>
	<tr class="<%= rowclass %>">
		<th><%= backend[:monitoredInfo] %></th>
		<td class="even icon">
			<% if backend[:monitorRuntimeConfig].first == 'TRUE' %>
			<img src="/images/tick.png" width="16" height="16" alt="Yes" />
			<% else %>
			&nbsp;
			<% end %>
		</td>
		<td class="odd list">
			<% if backend[:supportedControl] %>
				<%= backend[:supportedControl].
					collect {|oid| %{<span class="oid">#{oid}</span>} }.
					join(', ') %><br />
			<% end %>
		</td>
		<td class="even">
			<% if backend[:seeAlso] %><span class="dn"><%= backend[:seeAlso] %></span><% end %>
		</td>
	</tr>
	<% end %>
	</tbody>
</table>


