<h2>Databases</h2>

<p><%= subsystem[:description ]%></p>

<table id="database-list" class="horizontal">
	<thead>
	<tr>
		<th></th>
		<th class="even">Shadow?</th>
		<th class="odd">URI</th>
		<th class="even">See Also</th>
	</tr>
	</thead>
	<tbody>
	<% databases.each_with_index do |database, i| %>
	<% rowclass = i.divmod(2).last.zero? ? "even" : "odd" %>
	<tr class="<%= rowclass %>">
		<th><%= database[:monitoredInfo] %></th>
		<td class="even icon">
			<% if database[:monitorIsShadow].first == 'TRUE' %>
			<img src="/images/tick.png" width="16" height="16" alt="Yes" />
			<% else %>
			&nbsp;
			<% end %>
		</td>
		<td class="odd list">
			<% if database[:labeledURI] %>
				<span class="uri"><%= database[:labeledURI].first.gsub(/[^\x20-\x7f]/, '') %></span>
			<% end %>
		</td>
		<td class="even">
			<% if database[:seeAlso] %><span class="dn"><%= database[:seeAlso] %></span><% end %>
		</td>
	</tr>
	<% end %>
	</tbody>
</table>


