<h2>The <%= h subsystem[:cn] %> Subsystem</h2>

<p><%= subsystem[:description].join(' ') %></p>

<h3>Subsystem</h3>
<pre><%= subsystem.to_ldif %></pre>

<h3>Contents</h3>
<dl>
<% contents.each do |branch| %>
	<dt><%= branch.dn %></dt>
	<dd><pre><%= branch.to_ldif %></pre></dd>
<% end %>
</dl>